
.subtitle2 {
    font-size: 14px;
    font-weight: 600;
    color: #141414;
    margin-bottom: 8px;
}

.subtitle1 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #141414;
}

.caption {
    font-size: 12px;
    color: #8C8C8C;
    margin-bottom: 16px;
}

.body2 {
    font-size: 14px;
    margin-bottom: 8px;
}

.body-link {
    color: var(--bg-brand-primary);
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
}

.mr-16 {
    margin-right: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-6 {
    margin-bottom: 6px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-8 {
    margin-bottom: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-16 {
    margin-left: 16px;
}

.mb-0 {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}