.admin-app-settings {
    min-height: calc(100vh - 182px);
    display: flex;

    .tabs {
        width: 308px;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        border-right: 1px solid #F0F0F0;

        button {
            padding: 12px 16px;
            text-align: left;
            border-radius: 12px;
            margin-bottom: 18px;
            position: relative;
            font-size: 16px;
        }

        button + button::before {
            content: "";
            position: absolute;
            width: 100%;
            top: -9px;
            left: 0;
            border-top: 1px solid #F0F0F0;
        }

        button[data-selected] {
            background-color: #F3F6FC;
            color: #0052CD;
        }
    }

    .tabs-content {
        flex: 1;
    }

    .tabs-content>div {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .admin-app-settings {
        flex-direction: column;

        .tabs {
            flex-direction: row;
            border-right: none;
            width: 100%;
            overflow: hidden;
            align-items: baseline;

            button {
                padding: 10px 8px;
                flex: 1;
                text-wrap: nowrap;
                border-radius: 0;
            }

            button[data-selected] {
                border-bottom: 1px solid #0052CD;
                background-color: #FFFFFF;
                color: #0052CD;
            }

            button + button::before {
                border-top: none;
            }
        }
    }
}
