.appearance-preview {
    display: flex;
    align-items: center;
    position: relative;
    height: 368px;
    width: 469px;

    .iphone-preview {
        position: absolute;
        right: 0;
        z-index: 111;
    }
}

@media only screen and (max-width: 480px) {
    .appearance-preview {
        height: 216px;
        width: 327px;
    }
}
