.safari-preview {
    width: 469px;
    height: 284px;
    background-image: url('../../assets/Safari.png');
    background-size: cover;
    background-repeat: no-repeat;



    .wrap {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        bottom: 41px;
        background-color: white;

        .wrapwrap {
            display: flex;
            height: 100%;
            background-image: url('../../assets/_BG.png');
            background-size: cover;
            background-color: var(--bg-brand-preview-auth);

            .left {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .logo {
                    width: 77px;
                    height: 25px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url('../../assets/Logo\ \(2\).svg');
                }

            }
    
            .right {
                width: 50%;
    
                .form {
                    padding: 16px;
                    border-radius: 12px;
                    background-color: white;
                    width: 100%;
                    height: 70%;
                }


                .steps {
                    display: flex;
                    gap: 10px;
                    margin-top: 6px;

                    .step {
                        flex: 1;
                        border-bottom: 3px solid var(--bg-brand-primary-preview);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .safari-preview {
        width: 294px;
        height: 178px;
    }
}